{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Start About Us -->
    <div class="container" style="margin-top: 120px;" id="about">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 abt-text">
                <h2 class="title-heading text-center "><span>A</span>bout Us</h2>
                <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis nostrum eveniet error est nulla
                    magnam ipsum. Sit accusamus eum accusantium dicta quas expedita tempore facere corporis, error
                    exercitationem voluptatem, fugiat aliquid consectetur </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde labore quos doloremque nostrum ad,
                    laboriosam animi illo veritatis distinctio voluptates esse, </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 abt-img ">
                <img src="{% static 'images/about.jpg' %}" class="img-fluid" style="border-radius: 20px;" alt="">
            </div>
        </div>
    </div>
<!-- End About Us -->

{% endblock content %}
     