{% extends "base.html" %}
   
{% load static %}

{% block content %}
 <!-- Start Menu -->
    <div class="container ourmenu ">
       <div class="row">
            <div class="col-md-4 mt-3 ">
                
                <form action="" method="GET">
                    <input type="text" placeholder="Search"  name="search"  style="padding: 1px 15px; border: 2px solid black; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                 
                    <i class="fa fa-search" aria-hidden="true" ></i>
                </form>
                 
            </div>
            <div class="col-md-4">
                <h2 class="text-center menu-heading">Our <span>M</span>enu</h2>
            </div>
       </div>
       
        {% comment %} <div class="row  ">
            {% for i in abc %}
                <div class="col-md-3 col-lg-3 col-sm-12 col-12  ">
                    <div class="card-deck mt-5">
                        <div class="card">
                            <img class="card-img-top" src="{{ i.images.url }}" alt="Card image cap">
                            <div class="card-body">
                                <div class="card-title text-left">
                                    <h5>{{i.name}}</h5>
                                    <h6>Only at {{i.price}} <i class="fa fa-inr"></i></h6>
                                    <p>{{i.des}}</p>
                                   
                                </div>
                                <div class="order-btn text-center">
                                    <a href="" class="btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {% endcomment %}

        <div class="container">
            <div class="heading">
                <div class="row">
                    {% for i in s %}
                        <div class="col-md-3 col-lg-3 col-sm-12 col-12  ">
                        <div class="card-deck mt-5">
                            <div class="card">
                                <img class="card-img-top" src="{{i.images.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-title text-left">
                                        <h5>{{i.name}}</h5>
                                        <h6>Only at {{i.price}} <i class="fa fa-inr"></i></h6>
                                        <p>{{i.des}}</p>
                                    
                                    </div>
                                    <div class="order-btn text-center">
                                        <a href="" class="btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <!-- End Menu -->
{% endblock content %}

